<h1>Products</h1>

<% if @products_most_reviews.any? %>
  <ul>
    <% @products_most_reviews.each do |most_recent| %>

      <li><%= link_to most_recent.name, product_path(most_recent) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no product reviews yet.</p>
<% end %>

<% if @products_most_recent.any? %>
  <ul>
    <% @products_most_recent.each do |most_reviewed| %>

      <li><%= link_to most_reviewed.name, product_path(most_reviewed) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recent products added.</p>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>
<p><%= link_to "View all current products", products_path %></p>
